@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css')
layer(base);

@import 'tailwindcss';
@import 'tw-animate-css';

@plugin '../../src/hero.ts';

@source '../../../../node_modules/@heroui/theme/dist/components/popover.js';

/* darkMode: class */
@custom-variant dark (&:is(.dark *));

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  /* set button default cursor to `pointer` */
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

html {
  color-scheme: dark;
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

body,
#root {
  width: 100%;
  height: 100dvh;

  background-color: #222;
  color: white;
}

/* Remove border around `<input type="color" />` */
/* https://stackoverflow.com/questions/38821432/remove-border-around-the-color-in-an-inputtype-color-in-firefox */

input[type='color']::-moz-color-swatch {
  border: none;
  border-color: red;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 0;
}

input[type='color']::-webkit-color-swatch {
  border: none;
}
